@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400&family=Barlow:wght@100;200;300;400;500&family=Bellefair&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(54, 54, 93);
}
body {
  background-color: rgb(54, 54, 93);
  background-image: url(/assets/destination/background-destination-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* font-family: Arial, Helvetica, sans-serif; */
  color: white;
  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
header img {
  margin-top: 5%;
  margin-left: 3%;
  height: 48px;
  width: 48px;
}
header::after {
  content: " ";
  width: 35%;
  height: 1px;
  background-color: gray;
  left: 11%;
  top: 70%;
  position: absolute;
  z-index: 2;
}
.nav {
  width: 57%;
  height: 85px;
  padding: 30px;
  font-size: 28px;
  background-color: rgb(255, 255, 255, 4%);
  margin-top: 3%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}
.nav li {
  display: inline;
  margin: 0 20px;
  position: relative;
}
.nav li:last-child {
  margin-right: 25%;
}
ul li a::after {
  content: " ";
  width: 100%;
  height: 0;
  position: absolute;
  bottom: -30px;
  background-color: white;
  left: 0;
  transition: 0.5s;
}
ul li a.active::after {
  height: 3px;
}
ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Barlow Condensed";
  font-size: 18px;
  /* font-size: 14px; */
}

ul li a span {
  /* font-size: 14px; */
  font-weight: bold;
  margin-right: 6px;
  color: #fff;
  font-family: "Barlow Condensed";
  font-size: 18px;
}
main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 5% 10% 5%;
}
.pars {
  /* color: gray; */
  font-size: 28px;
  font-family: "Barlow Condensed", sans-serif;
}
.pars span {
  color: #d0d6f9;
  opacity: 0.5;
  margin-right: 15px;
}
.left img {
  height: 300px;
  margin-top: 12%;
}
.left p {
  color: gray;
}
.left p span {
  color: white;
  font-weight: bold;
}
ul li {
  display: inline-block;
  margin: 0 15px 0 0;
  color: gray;
}
.right {
  margin-left: 12%;
  width: 45%;
  margin-top: 7%;
}
.planet {
  margin-top: 5%;
  font-size: 100px;
  font-family: "Bellefair";
}
.planet-message {
  font-family: "Barlow";
  font-size: 18px;
  padding-bottom: 10%;
  border-bottom: 1px solid gray;
  color: #d0d6f9;
}
ul li {
  font-family: "Barlow Condensed";
  font-size: 18px;
}

ul li:hover {
  cursor: pointer;
}
.feet {
  width: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.fpar {
  font-family: "Barlow Condensed";
  color: #d0d6f9;
  font-size: 14px;
}
.kilometers,
.months {
  font-family: "Bellefair";
  margin-top: 3px;
  font-size: 28px;
  color: #fff;
}
.current {
  position: relative;
}
.current::after {
  content: " ";
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -5px;
}
#ham {
  display: none;
}
#close {
  display: none;
}

@media screen and (max-width: 1115px) {
  .nav {
    padding: 15px 0 7px 10px;
    width: 65%;
  }
  .nav li {
    margin: 0 1%;
  }
  section {
    width: 90%;
    margin: 5%;
  }
  .nav li a {
    font-size: 8px;
  }
}

@media screen and (max-width: 1080px) {
  section {
    width: 90%;
    margin: 5%;
  }
  main {
    margin-top: 10%;
  }
  .left img {
    width: 250px;
    height: 250px;
  }
  .right {
    margin-top: 1%;
    width: 50%;
  }
  .planet {
    font-size: 70px;
  }
  .planet-message {
    font-size: 13px;
  }
  ul li {
    margin: 0 8px 0 0;
  }
  .fpar {
    font-size: 12px;
  }
  .kilometers,
  .months {
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  body {
    width: 100%;
    background-image: url(/assets/destination/background-destination-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    position: relative;
  }
  .nav {
    display: none;
    position: absolute;
    height: 100vh;
    margin-top: 0;
    right: 0;
    backdrop-filter: blur(5px);
  }
  .hidden {
    display: block;
  }
  .nav li {
    display: block;
    margin: 20% 5%;
    backdrop-filter: none;
    background-color: transparent;
  }
  .nav li a {
    font-size: 17px;
  }
  #ham {
    display: block;
    margin-right: 20px;
    width: 39px;
    height: 34px;
    margin-top: 7%;
    cursor: pointer;
  }
  header::after {
    height: 0;
  }
  main {
    display: block;
    margin: 10% 5% 0;
    width: 90%;
  }
  .left {
    width: 100%;
    text-align: center;
  }
  .para {
    font-size: 15px;
  }
  .right {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
  }
  ul li a::after {
    bottom: -10px;
    width: 170px;
  }
  #close {
    display: block;
    float: right;
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
  }
  .left img {
    margin-top: 5%;
  }
  .planet-message {
    padding-bottom: 3%;
    border-bottom: 1px solid gray;
    color: gray;
    font-size: 15px;
  }
  .feet {
    display: block;
    width: 100%;
  }
  .fright {
    margin-top: 20px;
  }
  .fpar {
    font-size: 12px;
  }
  .kilometers,
  .months {
    font-size: 23px;
  }
}
