@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400&family=Barlow:wght@100;200;300;400;500&family=Bellefair&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(54, 54, 93);
  background-image: url(/assets/home/background-home-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
header img {
  margin-top: 5%;
  margin-left: 3%;
  height: 48px;
  width: 48px;
}
header::after {
  content: " ";
  width: 35%;
  height: 1px;
  background-color: gray;
  left: 11%;
  top: 70%;
  position: absolute;
  z-index: 2;
}

ul {
  width: 57%;
  height: 85px;
  padding: 30px;
  font-size: 28px;
  background-color: rgb(255, 255, 255, 4%);
  margin-top: 3%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  backdrop-filter: blur(5px);
}
ul li {
  display: inline;
  margin: 0 20px;
  position: relative;
  font-family: "Barlow Condensed";
  font-size: 18px;
  backdrop-filter: none;
  background-color: transparent;
}
ul li:last-child {
  margin-right: 25%;
}

ul li a::after {
  content: " ";
  width: 100%;
  height: 0;
  position: absolute;
  bottom: -30px;
  background-color: white;
  left: 0;
  transition: 0.5s;
}

ul li a.active::after {
  height: 3px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Barlow Condensed";
  font-size: 18px;
}

ul li a span {
  font-family: "Barlow Condensed";
  font-size: 18px;
  font-weight: bold;
  margin-right: 6px;
  color: #fff;
}

main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 15% 10% 5%;
}
.left {
  width: 40%;
}
.left h1 {
  font-size: 150px;
  font-weight: lighter;
  margin-top: 15px;
  font-family: "Bellefair", sans-serif;
  color: #fff;
}
.one {
  font-size: 28px;
  font-family: "Barlow Condensed", sans-serif;
  color: #d0d6f9;
}
.para {
  margin-top: 15px;
  color: #d0d6f9;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
.right {
  margin-top: 3%;
  text-align: center;
  margin-right: 5%;
}
.right h1 {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  padding-top: 40%;
  padding-left: 10px;
  color: #0b0d17;
  letter-spacing: 2px;
  font-size: 32px;
  font-family: "Bellefair", sans-serif;
  font-weight: lighter;
}
#ham {
  display: none;
}
#close {
  display: none;
}
@media screen and (max-width: 1115px) {
  ul {
    padding: 15px 0 7px 10px;
    width: 70%;
  }
  header::after {
    top: 60px;
  }
  main {
    margin-top: 10%;
  }
  .one {
    letter-spacing: 2.7px;
    font-size: 16px;
  }
  .left h1 {
    font-size: 80px;
    margin-top: 10px;
  }
  .para {
    font-size: 15px;
    line-height: 25px;
  }
  .right {
    margin-top: 3%;
  }
  .right h1 {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-top: 40%;
    padding-left: 5px;
    color: gray;
    letter-spacing: 3px;
  }
  body {
    width: 90%;
    margin: 10% 5% 0;
    padding-bottom: 50px;
  }
  ul li {
    margin: 0 1%;
  }
  .nav li a {
    font-size: 8px;
  }
}
@media screen and (max-width: 800px) {
  body {
    width: 100%;
    background-image: url(/assets/home/background-home-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    position: relative;
    overflow: scroll;
  }
  .nav {
    display: none;
    position: absolute;
    height: 100vh;
    margin-top: 0;
    right: 0;
  }
  .hidden {
    display: block;
  }
  .nav li {
    display: block;
    margin: 20% 5%;
  }
  .nav li a {
    font-size: 17px;
  }
  #ham {
    display: block;
    margin-right: 20px;
    width: 39px;
    height: 34px;
    margin-top: 7%;
    cursor: pointer;
  }
  header::after {
    height: 0;
  }
  main {
    display: block;
    margin: 18% 5% 0;
    width: 90%;
  }
  .left {
    width: 100%;
    text-align: center;
  }
  .para {
    font-size: 15px;
  }
  .right {
    width: 100%;
    margin-top: 20%;
    padding-left: 10%;
  }
  .right h1 {
    width: 300px;
    height: 300px;
    letter-spacing: 22px;
    padding-top: 43%;
    padding-left: 13px;
    font-size: 30px;
  }
  ul li a::after {
    bottom: -10px;
    width: 80px;
  }
  #close {
    display: block;
    float: right;
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
  }
}
